* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

body {
    transition: all 0.3s ease;
}

.container {
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}

/* header */

.header {
    border-bottom: 1px solid #ccc;
}

.header__inner {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.header__logo-link {}

.header__logo {}

.header__left {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header__search-btn {
    border: none;
    background: transparent;
    cursor: pointer;
}

.header__seacr-div {
    cursor: pointer;
}

.header__search-btn i {
    font-size: 18px;
}

.header__language-select {
    margin-left: 30px;
    outline: none;
    border: none;
    padding: 10px 5px 10px 10px;
    font-size: 20px;
}

.header__search {
    padding: 8px 0 8px 35px;
    border-radius: 5px;
    border: 1px solid grey;
    width: 500px;
    outline: none;
}

.header__search-icon-div {
    position: relative;
}

.header__search-icon {
    position: absolute;
    color: gray;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.header__search-cancle {
    position: absolute;
    cursor: pointer;
    color: gray;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* footer */

.footer {
    background-color: #F7F7F7FF;
    padding: 48px 0 48px 0;
}

.container {}

.footer__inner {
    display: flex;
    gap: 30px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer__top-left {
    display: flex;
    align-items: center;
}

.footer__logo-link {}

.footer__logo {}

.footer__list {
    display: flex;
}

.footer__right {
    margin-top: 15px;
}


.footer__item {}

.footer__link {
    padding: 0 16px;
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #000;
}

.footer__link:nth-child(1) {
    padding: 0 16px 0 0;
}

.footer__link:hover {
    color: #E31E24FF;
}

.footer__icons {
    display: flex;
}

.footer__icon {
    padding: 4px;
}

.footer__middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer__text {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: rgba(150, 150, 150, 1);
    max-width: 53%;
}


.footer__action-icons {
    display: flex;
    gap: 10px;
}

.footer__action-icon {}

.footer__bottom {}

.footer__span-div {
    display: flex;
    justify-content: end;
    margin-bottom: 50px;
}

.footer__span {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-align: end;
    display: block;
    font-weight: 600;
    background-color: #fff;
    border-radius: 5px;
    width: 50px;
}

.footer__bottom-span {
    font-size: 14px;
    color: rgba(150, 150, 150, 1);
}